<template>
  <Button @click="renderFunc">{{ message }}</Button>
</template>

<script>
export default {
  props: {
    message: String
  },
  methods: {
    renderFunc () {
      this.$Message.error({
        render: h => {
          return h('span')
        },
        content: this.message,
        duration: 100
      })
    }
  }
}
</script>

<style>
.ivu-message {
  float: right;
  font-size: 14px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;
}
.ivu-message-notice {
  padding: 8px;
  text-align: center;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.ivu-message-notice-content {
  /* display: inline-block; */
  pointer-events: all;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  margin-right: 20px;
  float: right;
  border-color: red green blue pink;
}
</style>
